body {
  background-color: #36384a;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 570px;
  padding: 0 15px;
  margin: 100px auto;
}

h1.name {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

h1.standalone-talk-title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin: 40px;
  text-align: center;
}

img.picture {
  width: 160px;
  height: 160px;
  border-radius: 88px;
  border: 4px solid #fff;
  box-shadow: 0px 2px 4px #024;
  display: block;
  margin: 0 auto;
  float: left;
  margin: 0 20px 0 0;
}

p.intro {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin: 10px 0 30px 190px;
  color: #def;
}

a {
  color: #abf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2.section-header {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  margin-top: 40px;
}

h3.talk-title {
  color: #def;
  font-weight: 300;
  margin-top: -10px;
  font-size: 18px;
}

h3.talk-title.extra-top {
  margin-top: 30px;
}

ul.highlights-list li, ul.writing-list li  {
  color: #def;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0;
}

ul.talk-events li {
  color: #cdf;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0;
}

ul.talk-events li a {
  font-size: 13px;
  display: inline-block;
  margin-left: 5px;
}

.social-links {
  width: 240px;
  height: 60px;
  margin: 40px auto;
}

.social-links .social-link {
  color: #abf;
  margin: 10px 0;
  width: 150px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 80px;
  float: left;
}

.social-links .social-link .social-icon {
  font-size: 24px;
  display: block;
  margin: 10px 0;
}

.social-links .social-link:hover {
  color: #fff;
}
