body {
  background-color: #234;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 680px;
  padding: 0 15px;
  margin: 80px auto;
}

img.picture {
  width: 180px;
  height: 180px;
  border: 4px solid #fff;
  border-radius: 150px;
  display: block;
  margin: 0 auto;
}

h1.name {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  margin: 20px 0;
  text-align: center;
}

p.intro {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
  color: #fff;
  text-align: justify;
}

a {
  color: #cff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-links {
  color: #fff;
  list-style-type: none;
  margin: 10px 0;
  padding: 0px;
  font-size: 18px;
  line-height: 50px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.social-links li {
  display: inline;
  margin: 0 10px;
}

.social-links li span {
  vertical-align: middle;
  font-size: 32px;
  padding: 0 5px 5px;
}

.social-links li a {
  font-weight: bold;
}

.social-links li a:hover {
  color: #fff;
  text-decoration: none;
}

hr {
  border: 1px dotted #789;
  margin: 80px 50px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin: 20px 0;
  text-align: left;
}

.talks {
  color: #fff;
}

.talks a {
  font-weight: bold;
}

.talks li {
  font-size: 18px;
  line-height: 23px;
  margin: 20px 0;
}

.talks li span {
  display: block;
  font-size: 14px;
}